<header></header>

<section id="about">
  <div class="container">
    <h2>Services</h2>

    <p class="lead">GENERAL DRYWALL SERVICES RESIDENTIAL - COMMERCIAL</p>
    <p><i class="bi bi-droplet" style="color: #487722"></i> Water Damage Fix</p>
    <p>
      <i class="bi bi-hammer" style="color: #487722"></i> Antique Houses
      Renovation Walls and Cielings
    </p>
    <p>
      <i class="bi bi-paint-bucket" style="color: #487722"></i> Paint Solution
      New and Existing Projects
    </p>
    <p>
      <i class="bi bi-house-down" style="color: #487722"></i> Specialist in
      Finished Bassements
    </p>
    <p>
      <i class="bi bi-house-door" style="color: #487722"></i> General Interior
      Renovations Poors, Trim, Base
    </p>
    <p>
      <i class="bi bi-tools" style="color: #487722"></i> Metal Stud Profesional
      Hang and Finish
    </p>
    <p>Complicated Prerock Welcome!</p>
    <p><i class="bi bi-geo-alt"></i> In the Columbus Ohio Area</p>
    <p class="lead">FREE ESTIMATES</p>
  </div>
</section>

<section id="portfolio">
  <h2>Portfolio</h2>
  <hr />
  <div class="container">
    <div class="portfolio__projects">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <figure>
            <figcaption>
              <h3>Project Name</h3>
              <p>Coming Soon</p>
              <a href="#"
                ><i class="fa fa-search-plus" aria-hidden="true"></i
              ></a>
            </figcaption>
            <img src="http://via.placeholder.com/300x250" />
          </figure>
        </div>
        <div class="col-lg-4 col-md-6">
          <figure>
            <figcaption>
              <h3>Project Name</h3>
              <p>Coming Soon</p>
              <a href="#"
                ><i class="fa fa-search-plus" aria-hidden="true"></i
              ></a>
            </figcaption>
            <img src="http://via.placeholder.com/300x250" />
          </figure>
        </div>
        <div class="col-lg-4 col-md-6">
          <figure>
            <figcaption>
              <h3>Project Name</h3>
              <p>Coming Soon</p>
              <a href="#"
                ><i class="fa fa-search-plus" aria-hidden="true"></i
              ></a>
            </figcaption>
            <img src="http://via.placeholder.com/300x250" />
          </figure>
        </div>
        <div class="col-lg-4 col-md-6">
          <figure>
            <figcaption>
              <h3>Project Name</h3>
              <p>Coming Soon</p>
              <a href="#"
                ><i class="fa fa-search-plus" aria-hidden="true"></i
              ></a>
            </figcaption>
            <img src="http://via.placeholder.com/300x250" />
          </figure>
        </div>
        <div class="col-lg-4 col-md-6">
          <figure>
            <figcaption>
              <h3>Project Name</h3>
              <p>Coming Soon</p>
              <a href="#"
                ><i class="fa fa-search-plus" aria-hidden="true"></i
              ></a>
            </figcaption>
            <img src="http://via.placeholder.com/300x250" />
          </figure>
        </div>
        <div class="col-lg-4 col-md-6">
          <figure>
            <figcaption>
              <h3>Project Name</h3>
              <p>Coming Soon</p>
              <a href="#"
                ><i class="fa fa-search-plus" aria-hidden="true"></i
              ></a>
            </figcaption>
            <img src="http://via.placeholder.com/300x250" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <p>
    Made with <i class="fa fa-heart" aria-hidden="true"></i> by Luis Eduardo And
    Hector Ramirez <i class="fa fa-copyright" aria-hidden="true"></i>2024
  </p>
</section>
